<div class="movie-box">
  <a href="/movies/new"><%= image_tag 'add_new.png' %></a>
</div>

<% @movies.each do |movie| %>

  <div class="movie-box">
    <a href="/movies/<%= movie.id %>" data-id="<%= movie.id %>"><%= image_tag movie.image_url %></a>
    <h3><a href="#"><%= movie.title %></a></h3>
  </div>

<% end %>
