<h1>
  <%= @movie.title %>
  <small><a href="/movies/<%= @movie.id %>/edit">Edit This Movie</a>

  <a href="/movies/<%= @movie.id %>/delete">Delete This Movie</a></small>

</h1>

<p><strong>Directed By: </strong>
   <% director = Director.find_by(id: @movie.director_id) %>
   <% if director.present? %>
     <%= director.name %>
    <% else %>
      (No Director)
    <% end %>
 </p>
<p><strong>Released:</strong> <%= @movie.year %></p>
<p><strong>Plot:</strong> <%= @movie.plot %></p>

<p><%= image_tag @movie.image_url %></p>
